<a href="https://colab.research.google.com/github/zahid-bracu/programming-language-python/blob/main/programming_language_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Hello World Printing : 
print ('Hello World')

Hello World

In [2]:
#Shape Printing :
print ('     /|')
print ('    / |')
print ('   /  |')
print ('  /   |')
print (' /____|')

     /|
    / |
   /  |
  /   |
 /____|

In [3]:
#Data Types : 
#String & integer print : 
name="Zahid"
age=26
print("My Name is "+name+" and my age is "+str(age))

My Name is Zahid and my age is 26

In [4]:
#String , integer & boolean print:
name="Zahid"
age=26
flag=True
print("My name is "+name+" and my age is "+str(age)+" and the statement is "+str(flag))

My name is Zahid and my age is 26 and the statement is True

In [5]:
#Float/Double  print:
cgpa=3.60
print("My Result is "+str(cgpa))

My Result is 3.6

In [7]:
#Type Casting :
name="Zahid"
age=26
cgpa=3.60
flag=True

cgpa=int(cgpa) #float to integer type casting
print(cgpa)#Output : 3

age=str(age) #int to string type casting
print(age)

age=float(age) #string to float type casting
print(age)

3
26
26.0

In [8]:
#Line Break:
print("My name is\nZahid")

My name is
Zahid

In [10]:
#Upper Case & Lower Case :
phrase="MIT"
print(phrase.lower()+"  is Cool") #mit is cool
print(phrase.upper()+"  is Cool") #MIT is cool
#Upper Case & Lower Case Check:
print(phrase.isupper()) #True
print(phrase.islower()) #False

mit  is Cool
MIT  is Cool
True
False

In [11]:
#Math Functions
from math import *

my_num=-5
print(abs(my_num))
print(pow(2,2))
print(max(3,4,5,7))
print(min(2,3,1,-1))
print(round(4.50))
print(ceil(4.30))
print(floor(4.70))
print(sqrt(36))

5
4.0
7
-1
4
5
4
6.0

In [12]:
#User Input
name=input("Please Enter Your Name \n")
age=input("Please Enter Your Age \n")
print(name+" : "+age)

Please Enter Your Name
zahid
Please Enter Your Age
18
zahid : 18

In [13]:
#Add Two Number from User Input
numOne=input("Enter the first number \n")
numTwo=input("Enter the second number \n")
result=int(numOne)+float(numTwo)
print(result)

Enter the first number
12
Enter the second number
21
33.0

In [14]:
#Mad Libs
name = input("Please Enter the Name \n")
age = input("Please Enter your Age \n")
ID = input("Please Enter your ID \n")

print(name +" is my name.")
print("My age is "+age)
print("& my ID is "+ID)

Please Enter the Name
zahid
Please Enter your Age
13
Please Enter your ID
1213
zahid is my name.
My age is 13
& my ID is 1213