In [1]:
print ('Hello World')

Hello World

In [2]:
print ('     /|')
print ('    / |')
print ('   /  |')
print ('  /   |')
print (' /____|')

     /|
    / |
   /  |
  /   |
 /____|

In [3]:
name="Zahid"		 #string type
age=26 			#integer type
print("My Name is "+name+" and my age is "+str(age))
#My name is Zahid and my age is 26

My Name is Zahid and my age is 26

In [4]:
name="Zahid" #string type
age=26 #integer type
flag=True #boolean type
print("My name is "+name+" and my age is "+str(age)+" and the statement is "+str(flag)) #string & integer & boolean printing together
#My name is Zahid and my age is 26 and the statement is True

My name is Zahid and my age is 26 and the statement is True

In [5]:
cgpa=3.60 #float type
print("My Result is "+str(cgpa)) #float & string print together
#My Result is 3.6

My Result is 3.6

In [6]:
name="Zahid"
age=26
cgpa=3.60
flag=True

cgpa=int(cgpa) #float to integer type casting
print(cgpa) #3

age=str(age) #int to string type casting
print(age) #26

age=float(age) #string to float type casting
print(age) #26.0

3
26
26.0

In [7]:
print("My name is\nZahid")
#My name is
#Zahid

My name is
Zahid

In [8]:
print("I completed PGD from \"BAU\"")
#I completed PGD from "BAU"

I completed PGD from "BAU"

In [9]:
phrase="MIT"
print(phrase.lower()+"  is Cool") #mit is cool
print(phrase.upper()+"  is Cool") #MIT is cool

mit  is Cool
MIT  is Cool

In [10]:
print(phrase.isupper()) #True
print(phrase.islower()) #False

True
False

In [11]:
phrase="Very Spooky"
print(phrase.upper().islower()) #False

False

In [12]:
phrase="Mit"
print(len(phrase)) #3

3

In [13]:
phrase="Massachusetts Institute of Technology"
print(phrase[0]) #M
print(phrase[5]) #c
print(phrase[-1]) #y
print(phrase.index("T")) #27
print(phrase.index("Ins")) #14

M
c
y
27
14

In [14]:
word = 'Did coding'
print(word[0:2])  # characters from position 0 (included) to 2 (excluded)
#Di
print(word[2:5])  # characters from position 2 (included) to 5 (excluded)
#d c
print(word[:2])   # character from the beginning to position 2 (excluded)
#Di
print(word[4:])   # characters from position 4 (included) to the end
#coding
print(word[-2:])  # characters from the second-last (included) to the end
#ng
print(word[:2] + word[2:])#Did coding
print(word[:4] + word[4:])#Did coding

Di
d c
Di
coding
ng
Did coding
Did coding

In [15]:
phrase="Massachusetts Institute of Technology"
print(phrase.replace("Massachusetts","Indian"))
#Indian Institute of Technology

Indian Institute of Technology

In [16]:
print(3)#3
print(3.60)#3.6
print(-3.60)#-3.6
print(3.60+3)#6.6
print(6.60/3)#2.1999999999999997
print(6.60//3)#2.0 #floor division
print(1.60*3)#4.800000000000001
print(2**2)#4
print(8.60-3)#5.6
print(3*(4+5))#27
print(20%3)#2

3
3.6
-3.6
6.6
2.1999999999999997
2.0
4.800000000000001
4
5.6
27
2

In [17]:
num=5
print("My roll is "+str(num)) #need to type cast integer while printing with string
#My roll is 5

My roll is 5

In [1]:
from math import *

my_num=-5
print(abs(my_num)) #-5
print(pow(2,2)) #4
print(max(3,4,5,7)) #7 
print(min(2,3,1,-1)) #-1
print(round(4.50)) #5
print(ceil(4.30))#5
print(floor(4.70))#4
print(sqrt(36))#6

5
4.0
7
-1
4
5
4
6.0

In [2]:
name=input("Please Enter Your Name \n")
age=input("Please Enter Your Age \n")
print(name+" : "+age)

Please Enter Your Name
zahid
Please Enter Your Age
12
zahid : 12

In [3]:
numOne=input("Enter the first number \n")
numTwo=input("Enter the second number \n")
result=int(numOne)+float(numTwo) #need to type cast
print(result)

Enter the first number
12
Enter the second number
32
44.0

In [4]:
name=input("Enter your name \n")
age=input("Enter your age \n")
cgpa=input("Enter your cgpa \n")
print("My name is "+name)
print("My age is "+age)
print("My cgpa is "+cgpa)

Enter your name
zahid
Enter your age
12
Enter your cgpa
3.90
My name is zahid
My age is 12
My cgpa is 3.90

In [5]:
myList= ["Spiderman",2022,True,"Ironman","Xmen"]
print(myList)
print(myList[0])
print(myList[-1]) #last index : Xmen

['Spiderman', 2022, True, 'Ironman', 'Xmen']
Spiderman
Xmen

In [6]:
myList= ["Spiderman",2022,True,"Ironman","Xmen"] 
print(myList[1:4]) #inclusive 1 to Exclusive 4
print(myList[1:]) #inclusive 1 to the end
print(myList[:3])#inclusive 0 to Exclusive 3

[2022, True, 'Ironman']
[2022, True, 'Ironman', 'Xmen']
['Spiderman', 2022, True]

In [7]:
myList= ["Spiderman",2022,True,"Ironman","Xmen"]
myList[4]="Harry Potter"
print(myList) #['Spiderman', 2022, True, 'Ironman', 'Harry Potter']

['Spiderman', 2022, True, 'Ironman', 'Harry Potter']

In [8]:
myList= ["Spiderman",2021,True]
yourList = ["Doctor Strange",2022,True]
myList.extend(yourList);
print(myList) #['Spiderman', 2021, True, 'Doctor Strange', 2022, True]

['Spiderman', 2021, True, 'Doctor Strange', 2022, True]

In [9]:
myList= ["Spiderman",2021,True]
myList.append(False);
print(myList) #['Spiderman', 2021, True, False]

['Spiderman', 2021, True, False]

In [10]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(z) #[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [11]:
myList= ["Spiderman",2021,True,3.60]
myList.insert(1,2020) #inserting 2020 in position 1
myList.remove(3.60) #remove 3.60 from the list

In [12]:
myList=["Spiderman",2021,True,3.60]
myList.pop()  #pop out the last data
myList.clear() #clear all data

In [13]:
myList= ["Spiderman",2021,True,3.60,"Doctor Strange",2022,3.60]
print(myList.count(3.60)) #2

2

In [14]:
myList= [55,11,77,22,99,44,33]
myList.sort()
myList.reverse()
print(myList) #[99, 77, 55, 44, 33, 22, 11]

[99, 77, 55, 44, 33, 22, 11]

In [15]:
myList= [55,11,77,22,99,44,33]
yourList=myList.copy()

In [18]:
tupleCollection = (11,22,33,44,55,66,77,88,99,110)
print(tupleCollection[4]) #access tuple
#tupleCollection[3]=121 #not possible â€“ cant change or modify

55

In [17]:
tupleCollection = [(11,22),(33,44),(55,66),(77,88)]
print(tupleCollection[1][0])#access

33

In [19]:
def custom_Func():
    print("This is a Custom Function for checking")
print("Before the Custom Function")
custom_Func()
print("After the Custom Function")

Before the Custom Function
This is a Custom Function for checking
After the Custom Function

In [20]:
def custom_Func(name,age):
    print("My Name is "+name+". And my age is "+str(age))
custom_Func("Zahid",18)

My Name is Zahid. And my age is 18

In [21]:
def square(num):
    return num*num*num
value =square(3)
print(value)

27

In [22]:
is_male = False
is_tall = True
if is_male and is_tall:
    print("Tall and Dashing Boy")
elif not(is_male) and is_tall:
    print("Tall but beautiful Girl")
elif not(is_male) and not(is_tall):
    print("Short Girl")
elif is_male or is_tall:
    print("Male or Tall or both")
else:
    print("3rd Gender")

Tall but beautiful Girl

In [23]:
def maxNumber(numOne,numTwo,numThree):
    if numOne>=numTwo and numOne>=numThree:
        print(str(numOne)+" is greater")
    elif numTwo>=numOne and numTwo>=numThree:
        print(str(numTwo)+" is greater")
    elif numThree>=numOne and numThree>=numTwo:
        print(str(numThree)+" is greater")
    elif numOne==numTwo and numTwo==numThree:
        print("All are equal")
maxNumber(11,11,11)

11 is greater

In [24]:
def checkEquality(numOne,numTwo):
    if numOne!=numTwo:
        print("Not Equal")
    elif numTwo==numOne:
        print("Equal")
checkEquality(11,11)

Equal

In [25]:
numberOne = int(input("Please Enter Number One"))
numberTwo = int(input("Please Enter Number Two"))
operator = input("Please Enter operator")
def calculate(numberOne,numberTwo):
    if operator == "+":
        return numberOne+numberTwo
    elif operator == "-":
        return numberOne-numberTwo
    elif operator == "*":
        return numberOne*numberTwo
    elif operator == "/":
        return numberOne/numberTwo
result=calculate(numberOne,numberTwo)
print("The result is "+str(result))

Please Enter Number One12
Please Enter Number Two32
Please Enter operator+
The result is 44

In [26]:
Information={
    "name":"Md. Zahidur Rahman",
    "program":"Post Graduate Diploma in Information and Communication Technology",
    "id":"PGD1727",
    "campus":"Bangladesh Agriculture University",
    "department":"Computer Science & Mathematics",
    "faculty": "Engineering & Technology"
}
print(Information['name'])
print(Information.get("id"))
print(Information.get("roll","Roll is not present")) #check the data presents or not

Md. Zahidur Rahman
PGD1727
Roll is not present